IceStorm.TopicManager=IceStorm/TopicManager -t:tcp -h localhost -p 10000
IceStorm.TopicManager.Proxy=IceStorm/TopicManager:default -p 10000
Ice.Default.Locator=IceGrid/Locator -t:tcp -h 127.0.0.1 -p 9999

MediaCatalogAdapter.Endpoints=tcp
MediaCatalogAdapter.AdapterId=MediaCatalogAdapter1
MediaCatalogAdapter.Locator=IceGrid/Locator -t:tcp -h 127.0.0.1 -p 9999