IceStorm.TopicManager=IceStorm/TopicManager -t:tcp -h localhost -p 10000
IceStorm.TopicManager.Proxy=IceStorm/TopicManager:default -p 10000
StreamProviderAdapter.Endpoints=tcp -p 9095
StreamProviderAdapter.AdapterId=StreamProviderAdapter1
StreamProviderAdapter.Locator=IceGrid/Locator -t:tcp -h 127.0.0.1 -p 9999